.imageElement--bannerOne--three,.imageElement--bannerTwo--three{
    width: 20rem;
    height: 20rem;
}
.imageElement--image__mujer--header{
   margin: 0 auto;
   max-width: 15rem;
   object-fit: cover;
}
/* ---------------home ---------------*/
.discountInsideContainer{
    background-color: #931505 ;
    transform: rotate(-90deg);
    margin-block-start: 0.6em;
    font-size: 0.8rem;
}
/* ---------------------------------- */
.container{
    padding: 0;
}