.flexRow--product__modal--size-guide{
  border-top:solid 1px #b0b0b0;
}

.flexRow--tablet__container--row-info .stretchChildrenWidth:first-child,
.flexRow--tablet__container--row-info .stretchChildrenWidth:last-child{
width: 50% !important;
}

.flexRow--tablet__container--row-info  
.flexRowContent--product__modal--size-guide
.stretchChildrenWidth,
.flexRow--tablet__container--row-info 
.flexRowContent--product-add-to-cart
.stretchChildrenWidth
{
    width: 100%!important;
}

.flexRow--tablet__container--row-info 
.flexCol--container-info-product 
:global(.vtex-dropdown) {
    width: 100%!important;
}