.imageElement--bannerOne--three,.imageElement--bannerTwo--three{
    width: 20rem;
    height: 20rem;
}
.imageElement--image__mujer--header{
   margin: 0 auto;
   max-width: 15rem;
   object-fit: cover;
}
/* ---------------home ---------------*/
.discountInsideContainer{
    background-color: #931505 ;
    transform: rotate(-90deg);
    margin-block-start: 1rem;
    font-size: 0.8rem;
}
/* --------------department-------------------- */
.container{
    padding: 0;
}
.imageElement--global__department--image{
    width: 100%;
}
.figure{
    display:none;
}
.swiperCaretNext .caretIcon,
.swiperCaretPrev .caretIcon{
    color:#000;
    opacity: 0.2;
}

.productImagesContainer .carouselGaleryCursor{
    margin: 0;
    padding: 0;
    width: 100%;
}
.swiperBullet{
    margin: 0 0.5rem;
}
.swiperBullet--active{
    color: #fff;
}
/* --------------static-------------------- */
.imageElement--ourStores--image,
.imageElement--program-points{
    width: 100%;
}
