.formSubmitContainer :global(.vtex-button){
    width: 9rem;
    font-size: 0.7rem;
    background-color: black;
    border-color: black;
    border-radius: 0;
}

.confirmationCheckboxContainer :global(.vtex-checkbox__inner-container){
   border-color: black;
   border-radius: 0;
}

:global(.vtex-checkbox__label){
font-size: 0.7rem;
}

.confirmationCheckboxContainer :global(.vtex-checkbox__box){
   color: #fff;
} 

.emailInputContainer :global(.vtex-styleguide-9-x-input){
    font-size: 0.9rem;
}