.openIconContainer{
    padding: 0;
 }
.minicartWrapperContainer {
    height: 3.8rem;
}
.minicartQuantityBadge {
    background-color: transparent;
    color: #3c3838;
}
.minicartWrapperContainer:hover {
    background-color: #f1f1f1;
}
.minicartWrapperContainer :global(.vtex-button__label) {
    padding: 0 0.7rem 0 0.2rem;
    margin-top: 0.7rem;
}

.minicartContainer :global(.vtex-button):hover,
.minicartWrapperContainer :global(.vtex-button__label):hover {
    background-color: transparent;
}
.closeIconButton {
    position: absolute;
    right: 0;
    color: gray;
}
.minicartTitle {
    padding-bottom: 0.7rem;
    border-bottom: solid 1px #d4d4d4;
    color:transparent;
}
.minicartTitle::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(assets/image/global/bag-title-minicart.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #575651
}
.minicartTitle::after {
    content: "BOLSA DE COMPRAS";
    position: absolute;
    left:2.7rem;
    color:#575651;
    font-size: 1.1rem;
    background-color: #fff;
    font-weight: 200;
    padding:0.5rem;
}

.minicartEmptyStateContainer--minicart-empty {
    width: 20.6rem;
    padding-top: 3rem;
}
.minicartCheckoutButton :global(.vtex-button__label){
    color:transparent;
}
.minicartCheckoutButton :global(.vtex-button__label)::before {
    content: "";
    background: url(assets/image/global/bag-minicart.png) no-repeat;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}
.minicartCheckoutButton :global(.vtex-button__label)::after {
    content: "IR A PAGAR";
    position: absolute;
    margin-left: 1rem;
    color: #fff;
}
.minicartCheckoutButton :global(.vtex-button) {
    background-color: #000;
    border: none;
    border-radius: 0;
}
