.infoCardContainer--desktop__home--sliderOne-main,
.infoCardContainer--desktop__home--sliderTwo-main,
.infoCardContainer--desktop__home--sliderThree-main{
    height: 90vh;
    width: 100vw;
}

.imageElement--home__sectionTwo--image,
.imageElement--home__sectionThree--banner,
.imageElement--home__sectionFour--image{
    width: 100%;
}