.submenuWrapper--desktop__header--categories-submenu--isOpen{
    width: 100%;
    padding-bottom: 0;
}
.submenu--desktop__header--categories-submenu .menuContainerNav{
    width: 100%;
}

.submenuContainer--desktop__header--categories-submenu{
    position: initial;
}

/*------------------------ footer----------------------*/

.menuContainer--footer__rowTwo--menuOne 
.styledLinkContent,
.menuContainer--footer__rowTwo--menuTwo 
.styledLinkContent,
.menuContainer--footer__rowTwo--menuThree 
.styledLinkContent,
.menuContainer--footer__rowTwo--menuFour 
.styledLinkContent,
.menuContainer--footer__rowTwo--menuFive 
.styledLinkContent{
font-size: 0.8rem;
line-height: 1.2rem;
}

.styledLinkContent--footer__rowTwo--title{
    font-size: 1rem!important;
    font-weight: 900;
}
.menuContainer--footer__rowTwo--menuFive
.styledLinkContent{
overflow: hidden;
text-overflow: ellipsis;
display: block;
}