.flexRowContent--row-menuItems--mujer{
    width: 95vw;
    padding-bottom:2.5rem ;
}
.flexColChild--container__col--menu{
 margin-left: -5.5rem;
 padding-right: 2.5rem;
 border-right: solid 1px #d4d4d4;
}

.flexRow--desktop__footer--rowTwo{
    padding:1rem 3.5rem;
}
.flexRowContent--desktop__footer--rowTwo{
    border-top:solid gray 0.5px;
    border-bottom:solid gray 0.5px;
    padding: 3.5rem 0;
}
.flexRowContent--desktop__footer--rowThree{
    padding:1rem 3.5rem 3.5rem 3.5rem;
}
