.flexRowContent--row-menuItems--mujer{
    width: 95vw;
    padding-bottom:2.5rem ;
}
.flexColChild--container__col--menu{
 margin-left: -5.5rem;
 padding-right: 2.5rem;
 border-right: solid 1px #d4d4d4;
}

.flexRowContent--container__mobile--menu{
    padding-left:1rem;
}
.flexRow--container__mobile--menu{
    padding-bottom: 2rem;
}

.flexRow--containerSocial__mobile--menu{
    background-color: #ebebeb;
}