.openIconContainer{
   padding: 0;
}
.minicartWrapperContainer{
    height: 3.8rem;
}
.minicartWrapperContainer:hover{
    background-color:#f1f1f1 ;
}
.minicartWrapperContainer :global(.vtex-button__label){
padding: 0 0.7rem 0 0;
margin-top: 0.7rem;
}
.closeIconContainer{
    float: right;
}
.drawer{
    background-color: red;
}