.headerRowContainer--header__top{
    background-color: #931505;
    padding: 0.4rem 0 0.4rem 0;
}
.headerRowContainer--header__middleDesktop{
    position:absolute;
    top:0px;
    background-color: transparent;
    padding: 0 3rem 0 2.5rem;
}
.headerRowContainer--header__middleMobile{
    position:absolute;
    top:0px;
    height: 2.8rem;
    background-color: transparent;
    color: #ffffff;
}

.headerRowContainer--header__middleDesktop:hover{
    background-color: #ffffff;
    color: #000000;
}

.headerRowContainer--header__bottomMobile{
    position:absolute;
    top:35px;
    height: 2.7rem;
    background-color: transparent;
}
