.input{
    background-color: transparent;
    border: transparent;
    border-bottom: 1.5px solid white;
    color:white;
}

.searchBarIcon--prefix,.searchBarIcon--search{
    background-color: transparent;
}
