.flexRowContent--row-menuItems--mujer{
    width: 95vw;
    padding-bottom:2.5rem ;
}
.flexColChild--container__col--menu{
 margin-left: -5.5rem;
 padding-right: 2.5rem;
 border-right: solid 1px #d4d4d4;
}
/* .flexCol--container__col--img{
    width: 33%;
}
.flexCol--container__col--conditions{
    width: 33%;
} */
/* .flexColChild--container__sale--col{
    padding-right: 13rem;
    background-color: red;
} */

.flexRow--container__mobile--menu{
    background-color: pink;
    border: solid 1px black;
}